<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Evlen{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/components.css">
    <link rel="stylesheet" href="/static/styles/animations.css">
    <script src="https://unpkg.com/htmx.org@2.0.8"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <!--Navigation-->
    <header class="site-header">
        <div class="inner-header">
            <a href="/" id="logo">Evlen</a>
            <nav class="site-nav" aria-label="Main navigation">
                <a href="/"
                    {% if request.url.path == "/" %}aria-current="page"{% endif%}>
                    Events
                </a>
                <!--Auto links will be injected dynamically later-->
            </nav>
        </div>
    </header>

    <!--Toast container: HTMX OOB swaps traget this div by id.
        aria-live="polite" announces new toasts to screen readers-->
    <div id="toast-container" aria-live="polite"></div>

    <!--Main content-->
    <main class="site-main">
        {% block content %}{% endblock %}
    </main>

    <script src="../static/scripts/toast.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>